<div class="about-container">
    <table>
        <tr>
            <th><b>Package</b></th>
            <th><b>Version</b></th>
        </tr>
        <tr>
            <td>bcrypt</td>
            <td>5.1.0</td>
        </tr>
        <tr>
            <td>body-parser</td>
            <td>1.20.1</td>
        </tr>
        <tr>
            <td>connect-mongo</td>
            <td>5.1.0</td>
        </tr>
        <tr>
            <td>cors</td>
            <td>2.8.5</td>
        </tr>
        <tr>
            <td>dotenv</td>
            <td>16.3.1</td>
        </tr>
        <tr>
            <td>express</td>
            <td>4.18.2</td>
        </tr>
        <tr>
            <td>express-handlebars</td>
            <td>7.1.2</td>
        </tr>
        <tr>
            <td>express-session</td>
            <td>1.17.3</td>
        </tr>
        <tr>
            <td>express-validator</td>
            <td>7.0.1</td>
        </tr>
        <tr>
            <td>mongodb</td>
            <td>6.2.0</td>
        </tr>
        <tr>
            <td>mongoose</td>
            <td>8.0.1</td>
        </tr>
        <tr>
            <td>multer</td>
            <td>1.4.5-lts.1</td>
        </tr>
        <tr>
            <td>supervisor</td>
            <td>0.12.0</td>
        </tr>
    </table>
</div>