<div class="reservation-container">
    <div class="reservation">
        <span></span>
        <div class="reservation-details">
            <p class="building" data-building-id="{{building.buildingID}}"><b>{{building.buildingName}}</b></p>
            <div class="select-wrapper">
                <span class="dropdown-arrow"></span>
                <select class="date-options"></select>
            </div>
            <br>
            <div class="select-wrapper">
                <span class="dropdown-arrow"></span>
                <select class="time-options"></select>
            </div>
            <button class="reserve-button" disabled>Reserve</button>
            <br>
            {{#if account.isTechnician}}
                <button class="delete-button">Delete</button>
            {{/if}}
            <br>
            <!-- TODO: Implement back-end logic for anonymous reservations -->
            <label>
                <input type="checkbox" class="reserve-anonymously-checkbox">
                Reserve anonymously
            </label>
        </div>
    </div>
    <div class="legend">
        <span><span class="legend-available"></span>Available</span>
        <span><span class="legend-reserved"></span>Reserved</span>
    </div>
    <div class="seats-container"></div>
    <div class="temp"></div>
</div>