<div class="results-container">
  {{#if buildings.length}}
  <div class="buildings-grid">
    {{#each buildings}}
    <a href="/reservation/{{this.buildingID}}" class="building-box">
      <div class="building-image"></div>
      <div class="building-name">{{this.buildingName}}</div>
    </a>
    {{/each}}
  </div>
  {{else}}
  <p class="no-results-message">No buildings found for your search. Please try again.</p>
  {{/if}}
</div>
